footer{
    margin-top: 15px;
  }
  .foot-panel1{
    background-color: #374750;
    height: 50px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    
  }
    .foot-panel2{
        background-color: black;
        color : white;
        height: 300px;
        display: flex;
        justify-content: space-evenly;
        

    }
    ul{
        margin-top: 20px;
        
    }
    ul a{
        display: block;
        color: #dddddd;
        font-size: 0.85rem;
        margin-top: 10px;
    }
    .foot-panel3{
        width: 100%;
        height: 50px;
        background-color: rgb(17, 16, 16);
        color: white;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: 0.1px solid white;
    }
    .amazonlog{
        background: url('https://m.media-amazon.com/images/G/01/gno/sprites/nav-sprite-global-1x-reorg-privacy._CB587940754_.png ');

        height: 70px;
        
        width: 10%;
        background-repeat: no-repeat;
        background-position-y:-35px;
        margin-top: 20px;
        }
        .foot-panel4{
            background-color:rgb(43, 32, 32);
            color: white;
            height: 80px;
            font-size: 0.7rem;
            text-align: center;
        }
        .pages {
            padding-top: 20px;
            }
          .pages a{
            color: white;
          }  
        .copyright{
            padding: 5px;
        }
  
    

    
  

    

    







    
    